
<% if @campaign.representatives.count > 1 and @relevant_constituencies.count > 0 %>
  <p>The following representatives are part of this campaign:</p>
  <ul>
    <% @relevant_constituencies.each { |constituency| %>
      <li>
        <%= constituency.name %> (<%=constituency.type_full%>)
        <ul>
          <% @representatives.where(:constituency_id => constituency.id).order('name asc').each { |representative| %>
            <li>
              <%=representative.name_with_party %>            
              <% if @diff.include?(representative) %>
                <i class="fa fa-warning"></i> We don't have <%= case @action; when 'email'; 'an email address'; when 'tweet'; 'a Twitter username'; end %> for this person.
              <% end %>
            </li>
          <% } %>
        </ul>
      </li>
    <% } %>
  </ul>
<% end %>
