<div style="margin-bottom: 10px">
  <%= @campaign.intro %>
</div>

<% if params[:representatives_empty] %>
  <div class="alert alert-danger">
    Sorry, no representatives of that postcode are part of this campaign.
  </div>
<% end %>

<% form_tag '', :method => :get, :class => 'form-inline' do %>
  <%= text_field_tag :postcode, :class => 'form-control mr-1', :placeholder => 'Enter your postcode' %>
  <button type="submit" class="btn btn-primary">Next</button>
<% end %>

