<%= ERB.new(@campaign.thanks).result(binding) if @campaign.thanks %>

<div style="margin-top: 15px">
	<%= partial :share_big, :locals => {:url => "http://#{ENV['DOMAIN']}/campaigns/#{@campaign.slug}"} %>
</div>

<p style="margin-top: 15px">
	Share URL: <span style="text-decoration:none; border-bottom: 1px dotted black"><%= "http://#{ENV['DOMAIN']}/campaigns/#{@campaign.slug}" %></span>
</p>