@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

html, body { min-height: 100% }

body, p, input, select, textarea, .form-control, .btn { font-family: 'Open Sans'; font-size: 18px }
h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans Condensed'; text-transform: uppercase; font-weight: 700 }
body, p, h1, h2, h3, h4, h5, h6 { color: white;  }
.note-editor p { font-size: 14px; color: #555 }
.note-editor button { font-size: 14px }

h1 { font-size: 48px; margin-top: 0; margin-bottom: 10px }
#alert-wrap { margin-top: 20px; position: absolute; z-index: 1040; width: 40%; margin-left: -20%; left: 50%; }
.control-label { display: none }
#tweet_body { height: 6em }