@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,700i,900,900i');

html, body { min-height: 100% }

p, ul, ol, input, select, .form-control, body { font-family: 'Raleway', 'Helvetica Neue',Helvetica,Arial,sans-serif }
h1, h2, h3, h4, h5, h6, .h { font-family: 'Raleway'; text-transform: uppercase; font-weight: 900 }

body, p, h1, h2, h3, h4, h5, h6 { color: white;  }
.note-editor, .note-editor p { color: #555 }

h1 { font-size: 48px; margin-top: 0; margin-bottom: 10px }
#alert-wrap { margin-top: 20px; position: absolute; z-index: 1040; width: 40%; margin-left: -20%; left: 50%; }
.control-label { display: none }
#tweet_body { height: 6em }

a, a:hover, a:focus, a:active { color: rgb(34,141,255) }

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
  background-color: rgb(34,141,255);
  border-color: rgb(26, 106, 191);
  color: #ffffff;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
  background-color: rgb(34,141,255);
  border-color: rgb(26, 106, 191);
  color: #ffffff;	
}

.alert-info {
  background-color: rgb(34,141,255);
  border-color: rgb(26, 106, 191);
}

.badge {
  background-color: rgb(34,141,255);
}